/*------------Menu Section---------------------*/

body * {
  font-family: $lato;
  text-decoration: none;
  box-sizing: border-box;
  
 
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  &__input-menu {
    border-radius: 30px;
  }
  &__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
  }
  &__menu {
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: ruby;
  }
  &__nav {
    display: inline-block;
    width:70%;
    text-align: right;
  }
  &__nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }
  &__nav ul{
    display: flex;
    justify-content: flex-end;
  }
  &__nav ul li{
   padding-right: 20px;
  }
  
}
