/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: salmon;
  padding: 30px;
}

.contenido {
  width: 960px;
  margin: 0 auto;
}
.contenido__cuerpo img {
  width: 210px;
  height: 300px;
}
.contenido__cuerpo p {
  padding: 5px 10px;
}
.contenido__listadnoticias {
  width: 700px;
  float: left;
}
.contenido__noticia {
  width: 210px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  clear: both;
}

._section__newsletter h2 {
  font-size: 24px;
}

.section__group input {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}
.section__group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  background-color: coral;
  color: white;
}

@media (min-width: 576px) {
  .contenido {
    display: block;
    position: relative;
    width: 100%;
  }
  .contenido__cuerpo img {
    width: 100%;
    height: auto;
  }
}
/*------------Menu Section---------------------*/
body * {
  font-family: "lato", "sans serif";
  text-decoration: none;
  box-sizing: border-box;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
}
.contenedor__input-menu {
  border-radius: 30px;
}
.contenedor__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.contenedor__menu {
  width: 90%;
  padding: 10px;
  border-bottom: 1px solid gray;
  display: ruby;
}
.contenedor__nav {
  display: inline-block;
  width: 70%;
  text-align: right;
}
.contenedor__nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.contenedor__nav ul {
  display: flex;
  justify-content: flex-end;
}
.contenedor__nav ul li {
  padding-right: 20px;
}

.aside__cabecera-listado {
  width: 220px;
  border-bottom: 1px solid gray;
}
.aside__listado-izquierdo {
  width: 220px;
  float: right;
}
.aside__newsletter {
  width: 960px;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.aside__newsletter H2 {
  font-size: 24px;
}
.aside__tags {
  border-bottom: 1px solid gray;
}
.aside__tags ul {
  padding: 0;
  list-style: none;
}
.aside__tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
