






//lato Light 300 - Bold 700
//Merriweather Bold 700
//sans serif

//---Typography
$lato: 'lato', 'sans serif';
$Merriweather:'Merriweather';
$latoLight: 300;
$latoBold: 700;
$MerriweatherBold: 700;



//font size
$fz-xxx-large: 50px;
$fz-xx-large: 30px;
$fz-x-large: 20px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 14px;
$fz-xsmall: 12px;

